html, body {
    height: 100%;
    margin: 0;
    background-color: #F5F1EA;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: #0F1D33;
        color: #FAF7F2;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }  
}

.quadradao {
    background-color: #FAF7F2;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #C8960C;
    
    h1 {
        color: #1B2A4A;
    }
    p {
        color: #1B2A4A;
    }
    a {
        color: #0F1D33;
    }
    button {
        background-color: #0F1D33;
        color: #FAF7F2;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}
.menu {
    background-color: #FAF7F2;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #C8960C;

    h1 {
        color: #1B2A4A;
    }
    h3 {
        color: #1B2A4A;
    }
    p {
        color: #1B2A4A;
    }
    a {
        background-color: #0F1D33;
        color: #FAF7F2;
    }
    button {
        background-color: #0F1D33;
        color: #FAF7F2;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }  
}
.sair {
        background-color: red;
        color: #FAF7F2;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
}