html, body {
    height: 100%;
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadradao {
    background-color: rgb(82, 66, 118);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    h1 {
        color: black;
    }
    p {
        color: black;
    }
    a {
        color: black;
    }
}
.menu {
    background-color: rgb(82, 66, 118);
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    h1 {
        color: black;
    }
    p {
        color: black;
    }
    a {
        color: black;
    }
    button {
        background-color: rgb(82, 66, 118);
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}
.menu2 {
    background-color: rgb(82, 66, 118);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    h1 {
        color: black;
    }
    p {
        color: black;
    }
    a {
        color: black;
    }
    button {
        background-color: rgb(82, 66, 118);
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}